doctype transitional
html(class='no-js', lang='en')
  head

    title [##_title_##] :: [##_page_title_##]
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //google font loading
    //- link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/nanumgothic.css', rel='stylesheet', type='text/css')
    //-   link(href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css')

    link(rel='alternate', type='application/rss+xml', title='[##_title_##]', href='[##_rss_url_##]')
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css")
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    link(rel="stylesheet", href="css/app.css")
    link(rel='stylesheet', media='screen', type='text/css', href='./style.css')
    link(rel='shortcut icon', href='[##_blog_link_##]favicon.ico')
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")





  body



    s_t3





        .container


            header




              #js-parallax-window.parallax-window
                .parallax-static-content
                  b Parallax Window


                  .top_image
                    a(href='[##_blog_link_##]', title='[##_title_##]')

                        img(src='[##_image_##]', alt='블로그 이미지')

                  .top_title
                    h1
                      a(href='[##_blog_link_##]', title='[##_title_##]') [##_title_##]

                  .top-search


                      #searchBox
                        s_search
                          input(placeholder="Search", type='text', name='[##_search_name_##]', value='[##_search_text_##]', onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')

                  .blog-comment


                        #blogDesc [##_desc_##]

                        //- #userID
                        //-   i.fa.fa-star  &nbsp;[##_blogger_##]




                #js-parallax-background.parallax-background









              .navigation(role='banner')
                .navigation-wrapper
                  a.logo(href='javascript:void(0)')
                    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='Logo Image')
                  a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
                  nav.top_nav(role='navigation')

                    |  [##_blog_menu_##]

                    //- ul#js-navigation-menu.navigation-menu.show
                      li.nav-link
                        a(href='javascript:void(0)') Products
                      li.nav-link
                        a(href='javascript:void(0)') About Us
                      li.nav-link
                        a(href='javascript:void(0)') Contact
                      li.nav-link.more
                        a(href='javascript:void(0)') More
                        ul.submenu
                          li
                            a(href='javascript:void(0)') Submenu Item
                          li
                            a(href='javascript:void(0)') Another Item
                          li.more
                            a(href='javascript:void(0)') Item with submenu
                            ul.submenu
                              li
                                a(href='javascript:void(0)') Sub-submenu Item
                              li
                                a(href='javascript:void(0)') Another Item
                          li.more
                            a(href='javascript:void(0)') Another submenu
                            ul.submenu
                              li
                                a(href='javascript:void(0)') Sub-submenu
                              li
                                a(href='javascript:void(0)') An Item
                  .navigation-tools
                    .search-bar
                      form(role='search')
                        input(type='search', placeholder='Enter Search')
                        button(type='submit')
                          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png', alt='Search Icon')






            body




              .flex-boxes



                  
                    //- a.flex-box.flex-box-big(href='javascript:void(0)')
                    //-   img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png', alt='')
                    //-   h1.flex-title A Wide Flex Box Item
                    //-   p
                    //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.
                    //- a.flex-box(href='javascript:void(0)')
                    //-   img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png', alt='')
                    //-   h1.flex-title Flex Box Item
                    //-   p
                    //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.
                    //- a.flex-box(href='javascript:void(0)')
                    //-   img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png', alt='')
                    //-   h1.flex-title A Flex Box Item
                    //-   p
                    //-     | Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?


                  
                
                    .content.flex-box.flex-box-big

                      s_article_rep





                        .entry


                          .article-box
                            .article-box-title-column
                              .article-box-title
                                h2
                                  a(href='[##_article_rep_link_##]') [##_article_rep_title_##]


                              .date-box


                                .date-box-up

                                  | [##_article_rep_date_##]


                                  //- .date-icon.columns.small-1
                                  //-   i.fa.fa-clock-o.fa-2x



                                  //- .date_tab.columns.large-10
                                  //-   // 날짜

                                  //-   .tab_year
                                  //-     script(type='text/javascript').
                                  //-       strDate='[##_article_rep_date_##]'.substr(0,4);
                                  //-       document.write(strDate);

                                  //-   .tab_time
                                  //-     script(type='text/javascript').
                                  //-       strDate='[##_article_rep_date_##]'.substr(11,5);
                                  //-       document.write(strDate);



                                  //- .tab_date.columns.small-3.medium-2.large-12
                                  //-   i.fa.fa-clock-o
                                  //-   script(type='text/javascript').
                                  //-     strDate='[##_article_rep_date_##]'.substr(5,5);
                                  //-     document.write(strDate);






                            .article_info-box
                              span.category
                                i.fa.fa-folder-o
                                  a(href='[##_article_rep_category_link_##]')  [##_article_rep_category_##]
                              s_ad_div
                                .admin
                                  a(href='[##_s_ad_m_link_##]') 수정
                                  |  :
                                  a(href='#', onclick='[##_s_ad_m_onclick_##]') 수정(창으로)
                                  |  |
                                  |                 ([##_s_ad_s1_label_##])→
                                  a(href='#', onclick='[##_s_ad_s2_onclick_##]') [##_s_ad_s2_label_##]
                                  |  |
                                  a(href='#', onclick='[##_s_ad_t_onclick_##]') 관련글(트랙백)
                                  |  |
                                  a(href='#', onclick='[##_s_ad_d_onclick_##]') 삭제

                            .article












                              | [##_article_rep_desc_##]








                              s_tag_label
                                i.fa.fa-tags.tagTrail
                                  span.tagText
                                  |  [##_tag_label_rep_##]

                          .author-box

                                .actionTrail
                                  a(href='#tb', onclick='[##_article_rep_tb_link_##]')
                                    i.fa.fa-random.fa-flip-horizontal &nbsp;
                                    s_tb_count
                                      | 트랙백&nbsp;
                                      span.cnt [##_article_rep_tb_cnt_##]
                                      | 개
                                  | ,

                                  a(href='#rp', onclick='[##_article_rep_rp_link_##]')
                                    i.fa.fa-comments-o.fa-flip-horizontal &nbsp;
                                    s_rp_count

                                      //- | 댓글&nbsp;
                                      span.cnt [##_article_rep_rp_cnt_##]
                                      | 개

                                .author

                                  i.fa.fa-pencil-square-o
                                  span.text
                                  //- | Posted by&nbsp;

                                  | &nbsp;[##_article_rep_author_##]

                          .article-reply

                              s_tb
                                .trackback
                                  h3 트랙백 주소 :: [##_tb_address_##]
                                  s_tb_container
                                    ol
                                      s_tb_rep
                                        li(id='[##_tb_rep_id_##]')
                                          h4
                                            | Subject:
                                            a(href='[##_tb_rep_url_##]', onclick='window.open(this.href); return false', rel='external nofollow') [##_tb_rep_title_##]
                                          span.from
                                            | Tracked from
                                            span.name [##_tb_rep_site_##]
                                          span.date [##_tb_rep_date_##]
                                          a.delete(href='#', onclick='[##_tb_rep_onclick_delete_##]; return false')
                                            span 삭제
                                          p [##_tb_rep_desc_##]
                                // trackback close
                              s_rp
                                
                                  h3 댓글을 달아 주세요
                                 




         






                                    s_rp_container
                                      ol
                                        s_rp_rep
                                          li(id='[##_rp_rep_id_##]')

                                            div(class='[##_rp_rep_class_##]').comment

                                                  


                                              .comment-image
                                                span.comment-use-icon.dummy-icon [##_rp_rep_name_##]
                                                span
                                                  a.write(href='#', onclick='[##_rp_rep_onclick_reply_##]')
                                                    i.fa.fa-comments-o

                                                  a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                    i.fa.fa-edit

                                                span.comment-date [##_rp_rep_date_##]



                                              .comment-content
                                                
                                                p [##_rp_rep_desc_##]
                                                //- p.comment-detail [##_rp_rep_date_##] [##_rp_rep_name_##]







                
                                                        

                                            s_rp2_container
                                              ul
                                                s_rp2_rep
                                                  li(id='[##_rp_rep_id_##]')
                                                      
                                                        .comment-second-box


                                                            //- div(class='[##_rp_rep_class_##]')




                                                            .comment-second-row

                                                                


                                                                  .name-icon



                                                                  .name-text.left [##_rp_rep_name_##]


                                                                .comment-second-p

                                                                  p [##_rp_rep_desc_##]



                                                                  .control
                                                                    //- a.address(href='[##_rp_rep_link_##]')
                                                                    //-   span 댓글주소
                                                                    //- a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                                    //-   span 수정/삭제

                                                                    a.modify(href='#', onclick='[##_rp_rep_onclick_delete_##]')
                                                                      i.fa.fa-edit
                                                                  .date [##_rp_rep_date_##]

                                  s_rp_input_form

                                    .commentWrite
                                      s_rp_member


                                        
                                        
                                            .comment-sugguest-icon
                                              i.fa.fa-comments-o.fa-flip-horizontal.fa-5x
                                          
                                            s_rp_guest
                                             
                                                

                                                    input(placeholder="Name", type='text', name='[##_rp_input_name_##]', value='[##_guest_name_##]')
                                               

                                                    input(placeholder="Password",type='password', name='[##_rp_input_password_##]', value='')
                                            
                                                .url-row


                                                    input(placeholder="link", type='text', name='[##_rp_input_homepage_##]', value='')

                                              .secret-box

                                                .secret-check
                                                  input.checkbox(type='checkbox', name='[##_rp_input_is_secret_##]')
                                                .secret-label
                                                  label(for='secret')
                                                    i.fa.fa-lock




                                      .comment-bottom-text

                                          .comment-input-text

                                              textarea(name='[##_rp_input_comment_##]', rows='6', cols='30')


                                            .comment-send-box

                                              .comment-send-icon


                                                input.submit(type='submit', value="\uf1d9", onclick='[##_rp_onclick_submit_##]')











                                    // commentWrite close
                      
                        .pagination-line
                                    s_paging

                                        .pagination-centered

                                          ul.numbox.pagination

                                            li(class="arrow arrow-left")
                                              a([##_prev_page_##] id="prevPage")
                                                i.fa.fa-chevron-left
                                            s_paging_rep
                                              li
                                                a.num([##_paging_rep_link_##]='')  [##_paging_rep_link_num_##]



                                            li(class="arrow arrow-right")
                                              a([##_next_page_##] id="nextPage")
                                                 i.fa.fa-chevron-right


                  

                  
                    .sidebar.flex-box

                      .sidebar_layer1
                        .sidebar-box
                          .sidebar-1.sidebar-box-in
                            s_sidebar




                              s_sidebar_element
                                // 블로그 소개 모듈
                                .blog_info

                                  .columns.small-2.large-3

                                    #blogImage.right
                                      img(src="[##_image_##]", alt="블로그 이미지")


                                  .columns.small-10.large-9.blog_info_text
                                    .row
                                      .columns.small-12.large-10.left
                                        #blogDesc [##_desc_##]

                                        #userID
                                          i.fa.fa-star  &nbsp;[##_blogger_##]






                              s_sidebar_element
                                // 공지사항 모듈
                                s_rct_notice
                                  #notice

                                    h3.stitle
                                      i.fa.fa-exclamation-triangle &nbsp;&nbsp;

                                      | &#44277;&#51648;&#49324;&#54637;

                                    ul
                                      s_rct_notice_rep
                                        li
                                          a(href="[##_notice_rep_link_##]") [##_notice_rep_title_##]
                              // 공지사항 모듈





                              s_sidebar_element
                                // 카테고리 모듈

                                .catergory-block

                                  #category


                                      h3.stitle
                                          i.fa.fa-list &nbsp;&nbsp;

                                          | &#52852;&#53580;&#44256;&#47532;

                                          //- | [##_category_##]
                                          | [##_category_list_##]
                                      hr
                              // 카테고리 모듈



                              s_sidebar_element
                                // 최근 트랙백 모듈
                                #recentTrackback
                                  h3.stitle
                                    i.fa.fa-sign-out &nbsp;&nbsp;

                                    | &#52572;&#44540;&#50640; &#48155;&#51008; &#53944;&#47001;&#48177;
                                  ul
                                    s_rcttb_rep
                                      li
                                        a(href="[##_rcttb_rep_link_##]") [##_rcttb_rep_desc_##].
                                        span.info
                                          span.name [##_rcttb_rep_name_##]
                                          span.date [##_rcttb_rep_time_##]
                              // 최근 트랙백 모듈


                              s_sidebar_element
                                // 글 보관함 모듈
                                #archive
                                  h3.stitle
                                    i.fa.fa-book &nbsp;&nbsp;

                                    | &#44544; &#48372;&#44288;&#54632;
                                  ul
                                    s_archive_rep
                                      li
                                        a(href="[##_archive_rep_link_##]") [##_archive_rep_date_##]
                                        span.cnt ([##_archive_rep_count_##])
                              // 글 보관함 모듈
                      .sidebar_layer2
                        .sidebar-box
                          .sidebar-4.sidebar-box-in
                            s_sidebar
                              s_sidebar_element
                                // 최근 포스트 모듈
                                #recentPost
                                  h3.stitle
                                    i.fa.fa-newspaper-o &nbsp;

                                    |  &#52572;&#44540;&#50640; &#50732;&#46972;&#50728; &#44544;
                                  ul
                                    s_rctps_rep
                                      li
                                        a(href="[##_rctps_rep_link_##]") [##_rctps_rep_title_##].
                                        span.cnt [##_rctps_rep_rp_cnt_##]
                              // 최근 포스트 모듈



                              s_sidebar_element
                                // 최근 댓글 모듈
                                #recentComment
                                  h3.stitle
                                    i.fa.fa-comment &nbsp;&nbsp;

                                    | &#52572;&#44540;&#50640; &#45804;&#47536; &#45843;&#44544;
                                  ul#recentComments
                                    s_rctrp_rep
                                      li
                                        a(href="[##_rctrp_rep_link_##]") [##_rctrp_rep_desc_##].
                                        span.info
                                          span.name [##_rctrp_rep_name_##]
                                          //- span.date [##_rctrp_rep_time_##]
                              // 최근 댓글 모듈



                              s_sidebar_element
                                // 링크 모듈
                                #link
                                  h3.stitle
                                    i.fa.fa-link &nbsp;&nbsp;

                                    | &#47553;&#53356;
                                  ul
                                    s_link_rep
                                      li
                                        a(href="[##_link_url_##]", onclick="window.open(this.href); return false") [##_link_site_##].
                                // 링크 모듈



                              s_sidebar_element
                                // 카운터 모듈
                                #counter
                                  .total
                                    span Total :
                                    | [##_count_total_##]
                                  .today
                                    span Today :
                                    | [##_count_today_##]
                                  .yesterday
                                    span Yesterday :
                                    | [##_count_yesterday_##]
                              // 카운터 모듈
                              s_sidebar_element
                                // RSS 링크
                                #btnRSS
                                  a(href="[##_rss_url_##]", onclick="window.open(this.href); return false", title="[##_title_##] 구독하기")
                                    span [##_title_##] &#44396;&#46021;&#54616;&#44592;
                              // RSS 링크
                      .sidebar_layer3
                        .sidebar-box
                          .sidebar-7.sidebar-box-in
                            s_sidebar
                              s_sidebar_element
                                // 달력 모듈
                                #calendar
                                  h3
                                    i.fa.fa-calendar &nbsp;&nbsp;
                                    | &#45804;&#47141;
                                  s_custom_calendar
                                    table.tt-calendar(cellpadding="0", cellspacing="1", style="width: 100%; table-layout: fixed")
                                      caption.cal_month
                                        a.prev-month(href="[##_prev_month_##]", title="1개월 앞의 달력을 보여줍니다.") &#171;
                                        a.next-month(href="[##_next_month_##]", title="1개월 뒤의 달력을 보여줍니다.") &#187;
                                        a.this-month(href="[##_this_month_##]", title="현재 달의 달력을 보여줍니다.") [##_year_##].[##_month_##]
                                      s_calendar_header
                                        thead
                                          tr
                                            s_calendar_header_item
                                              th(class="[##_class_##]") [##_title_##]

                                      s_calendar_days
                                        tbody
                                          s_calendar_week
                                            tr(class="[##_class_##]")
                                              s_calendar_days_item
                                                td(class="[##_class_##]") [##_day_##]
                              // 달력 모듈



                              s_sidebar_element
                                // 태그목록 모듈
                                .row.tag-block


                                    #tagbox
                                      h3.stitle
                                        i.fa.fa-tags &nbsp;&nbsp;
                                        | &#53468;&#44536;&#47785;&#47197;
                                      ul
                                        s_random_tags
                                          li
                                            a(class="[##_tag_class_##]" href="[##_tag_link_##]")  [##_tag_name_##]
                                  // 태그목록 모듈


                              s_sidebar_element
                                //검색 모듈

                                

                                #searchBox
                                      s_search
                                        input(placeholder="Search", type='text', name='[##_search_name_##]', value='[##_search_text_##]', onkeypress='if (event.keyCode == 13) { [##_search_onclick_submit_##] }')



                              s_sidebar_element
                                // 관리자 모듈
                                #adminMenu
                                  ul
                                    li.tab_admin
                                      a(href='[##_owner_url_##]')
                                        i.fa.fa-key  Admin
                                        //- img(src='./images/btn_admin.gif', alt='관리자')
                                    li.tab_write
                                      a(href='[##_owner_url_##]/entry/post')
                                        i.fa.fa-pencil  Write
                                        //- img(src='./images/btn_write.gif', alt='글쓰기')                    
 
                  























            footer.footer(role='contentinfo')
                .footer-logo
                  img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='Logo image')
                .footer-links
                  ul
                    li
                      h3 Content
                    li
                      a(href='javascript:void(0)') About
                    li
                      a(href='javascript:void(0)') Contact
                    li
                      a(href='javascript:void(0)') Products
                  ul
                    li
                      h3 Follow Us
                    li
                      a(href='javascript:void(0)') Facebook
                    li
                      a(href='javascript:void(0)') Twitter
                    li
                      a(href='javascript:void(0)') YouTube
                  ul
                    li
                      h3 Legal
                    li
                      a(href='javascript:void(0)') Terms and Conditions
                    li
                      a(href='javascript:void(0)') Privacy Policy
                hr
                p
                  | Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.
                .footer_copyright
                  |Designed by&nbsp
                  i.fa.fa-arrows-alt
                  a(href='http://pixelwide.tistory.com/')   Pixelwide









    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js")
    //- script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.topbar.js")


    script.
      $(document).foundation();


    script.
      jQuery( '.another_category' ).appendTo( '.adsense-bottom' );

    //- script(src='./images/burger.js')

    script(type="text/javascript", src='./images/script1.js')
    script(type="text/javascript", src='./images/header_parallax.js')
    script(type="text/javascript", src='./images/head_navigation.js')


    script
      //- $("input.submit").val("\uf002");
      //- $("input.comment-submit").val("\uf1d9")



    style(type='text/css').
      .another_category { border: 1px solid #E5E5E5; padding: 10px 10px 5px; margin:10px 0; clear: both; }
      .another_category h4 { font-size: 12px !important; margin: 0 !important; border-bottom: 1px solid #E5E5E5 !important; padding: 2px 0 6px !important; }
      .another_category h4 a { font-weight: bold !important; }
      .another_category table { table-layout: fixed; border-collapse: collapse; width: 100% !important; margin-top: 10px !important; }
      * html .another_category table { width: auto !important; }
      *:first-child+html .another_category table { width: auto !important; }
      .another_category th, .another_category td { padding: 0 0 4px !important; }
      .another_category th { text-align: left; font-size: 12px !important; font-weight: normal;  word-break: break-all; overflow: hidden; line-height: 1.5; }
      .another_category td { text-align: right; width: 80px; font-size: 11px; }
      .another_category th a { font-weight: normal; text-decoration: none; border: none !important; }
      .another_category th a.current{ font-weight: bold; text-decoration: none !important; border-bottom: 1px solid !important; }
      .another_category th span { font-weight: normal; text-decoration: none; font: 10px Tahoma, Sans-serif; border: none !important; }
      .another_category_color_gray, .another_category_color_gray h4 { border-color: #E5E5E5 !important; }
      .another_category_color_gray * { color: #000!important; }
      .another_category_color_gray th a.current{border-color:#fff !important;}
      .another_category_color_gray h4, .another_category_color_gray h4 a { color: #000 !important; }
      //- .another_category_color_red, .another_category_color_red h4 { border-color: #F6D4D3 !important;  }
      //- .another_category_color_red * { color: #E86869 !important; }
      //- .another_category_color_red th a.current{border-color:#E86869 !important;}
      //- .another_category_color_red h4, .another_category_color_red h4 a { color: #ED0908 !important; }
      //- .another_category_color_green, .another_category_color_green h4 { border-color: #CCE7C8 !important; }
      //- .another_category_color_green * { color: #64C05B !important; }
      //- .another_category_color_green th a.current{border-color:#64C05B !important;}
      //- .another_category_color_green h4, .another_category_color_green h4 a { color: #3EA731 !important; }
      //- .another_category_color_blue, .another_category_color_blue h4 { border-color: #C8DAF2 !important; }
      //- .another_category_color_blue * { color: #477FD6 !important; }
      //- .another_category_color_blue th a.current{border-color:#477FD6 !important;}
      //- .another_category_color_blue h4, .another_category_color_blue h4 a { color: #1960CA !important; }
      //- .another_category_color_violet, .another_category_color_violet h4 { border-color: #E1CEEC !important;  }
      //- .another_category_color_violet * { color:#9D64C5 !important; }
      //- .another_category_color_violet th a.current{border-color:#9D64C5 !important;}
      //- .another_category_color_violet h4, .another_category_color_violet h4 a { color: #7E2CB5 !important; }







